- cache @shared_collection do
  .row 
    .collection
      .jumbotron
        %h2(style="font-variant:small-caps;margin-top:0;")
          '#{@shared_collection.title}'  
          .small 
            collection by #{@shared_collection.user.email}
    = render partial: 'item', collection: @shared_collection.items